<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/zhay-go-home-page.css" />
    <script src="./js/profile.js"></script>
    <link rel="stylesheet" href="css/feedback.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link rel="stylesheet" href="./css/profilepic.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Tai Le:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan Script:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans New Tai Lue:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="zhaygo-home-page">
      <div class="frame-parent28">
        <header class="frame-header">
          <div class="instance-frame">
            <div class="frame-parent29">
              <img
                class="instance-child6"
                alt=""
                src="./images/group-136.svg"
              />

              <div class="search1">Search</div>
            </div>
          </div>
          <div class="rectangle-parent6">
            <div class="frame-child13"></div>
            <img
              class="new-logo-12"
              loading="lazy"
              alt=""
              src="./images/new-logo-2@2x.png"
            />

            <img
              class="frame-child14"
              loading="lazy"
              alt=""
              src="./images/group-134.svg"
              id="group"
            />
          </div>
          <nav class="frame-nav">
            <nav class="home-group">
              <h3 class="home2" id="homeText1">Home</h3>
              <h3 class="menu3" id="menuText1">Menu</h3>
              <div class="about-us-container">
                <h3 class="about-us2" id="aboutUsText">About us</h3>
              </div>
              <h3 class="feedback2" id="feedbackText">Feedback</h3>
            </nav>
          </nav>
          <img
            class="frame-child15"
            loading="lazy"
            id="profile-image"
            alt=""
            src="./images/images.png"
          />
        </header>
        <div class="root">
            <section class="image-1-parent">
              <div class="image-1"></div>
              <div class="got-some-feedback-lay-it-on-m-parent">
                <div class="got-some-feedback">Got some feedback? Lay it on me!</div>
                <div class="feedback-input">
                  <div class="feedback-name">
                    <div class="name">Name</div>
                    <div class="name-field">
                      <div class="name-field-child"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="subject-input">
                <div class="feedback-sub">
                  <div class="subject">Subject</div>
                  <div class="subject-area-wrapper">
                    <div class="subject-area"></div>
                  </div>
                </div>
              </div>
              <div class="message-input">
                <div class="feedback-message">
                  <div class="message">Feedback</div>
                  <div class="feedback-message-inner">
                    <textarea class="frame-child" rows="{7}" cols="{25}"> </textarea>
                  </div>
                </div>
              </div>
            </section>
          </div>
      <footer class="footer1">
        <div class="footer-item" data-scroll-to="rectangle"></div>
        <div class="frame-parent37">
          <div class="opening-hours-group">
            <div class="opening-hours1">Opening Hours</div>
            <div class="monday-thursday-container1">
              <p class="monday-thursday1">Monday - Thursday</p>
              <p class="am-4001">9:00 Am - 4:00 Pm</p>
            </div>
          </div>
          <div class="friday-sunday-container1">
            <p class="friday-sunday1">Friday - Sunday</p>
            <p class="am-5001">11:00 Am - 5:00 Pm</p>
          </div>
        </div>
        <div class="frame-parent38">
          <div class="frame-parent39">
            <div class="frame-wrapper28">
              <div class="frame-parent40">
                <div class="menu-contact-wrapper">
                  <div class="menu-contact">
                    <div class="contact-us1">Contact us</div>
                    <div class="menu4">Menu</div>
                  </div>
                </div>
                <div class="frame-parent41">
                  <div class="frame-wrapper29">
                    <div class="image-removebg-preview-7-2-group">
                      <img
                        class="image-removebg-preview-7-21"
                        loading="lazy"
                        alt=""
                        src="./images/imageremovebgpreview-7-2@2x.png"
                      />

                      <div class="wrapper1">
                        <div class="div3">17656789</div>
                      </div>
                      <div class="home-container">
                        <div class="home3" id="homeText">Home</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-parent42">
                    <div class="frame-wrapper30">
                      <div class="frame-parent43">
                        <div class="image-removebg-preview-8-2-group">
                          <img
                            class="image-removebg-preview-8-21"
                            loading="lazy"
                            alt=""
                            src="./images/imageremovebgpreview-8-2@2x.png"
                          />

                          <div class="zheygogmailcom-container">
                            <div class="zheygogmailcom1">zheygo@gmail.com</div>
                          </div>
                        </div>
                        <div class="frame-wrapper31">
                          <div class="image-removebg-preview-5-1-group">
                            <img
                              class="image-removebg-preview-5-11"
                              loading="lazy"
                              alt=""
                              src="./images/imageremovebgpreview-5-1@2x.png"
                            />

                            <div class="kabesa-thimphu1">Kabesa, Thimphu</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent44">
                      <div class="frame-wrapper32">
                        <div class="menu-group">
                          <div class="menu5" id="menuText2">Menu</div>
                          <div class="about-us3" id="aboutUsText1">
                            About us
                          </div>
                        </div>
                      </div>
                      <div class="feedback3" id="feedbackText1">Feedback</div>
                      <div class="cart2" id="cartText">Cart</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent45">
              <div class="c-group">
                <div class="c1">c</div>
                <div class="frame-child34"></div>
              </div>
              <div class="zheygo-2024-all-rights-reserv-container">
                <div class="zheygo-2024-all1">
                  Zheygo 2024. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent46">
            <div class="wrapper2">
              <h2 class="h22">“</h2>
            </div>
            <div class="frame-parent47">
              <div class="new-logo-2-container">
                <img
                  class="new-logo-22"
                  loading="lazy"
                  alt=""
                  src="./images/new-logo-2-1@2x.png"
                />
              </div>
              <div class="frame-parent48">
                <div class="wrapper3">
                  <h2 class="h23">”</h2>
                </div>
                <div class="delight-your-taste1">
                  Delight your taste with diverse taste
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var group = document.getElementById("group");
      if (group) {
        group.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var menuText1 = document.getElementById("menuText1");
      if (menuText1) {
        menuText1.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }

      document.getElementById("profile-image").addEventListener("click", function() {
  window.location.href = "/profile";
});

      
      
      var feedbackText = document.getElementById("feedbackText");
      if (feedbackText) {
        feedbackText.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "coupon page" to the project
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var menuText2 = document.getElementById("menuText2");
      if (menuText2) {
        menuText2.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      
      var feedbackText1 = document.getElementById("feedbackText1");
      if (feedbackText1) {
        feedbackText1.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var cartText = document.getElementById("cartText");
      if (cartText) {
        cartText.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }

      </script>
     
  </body>
</html>
