<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global2.css" />
    <link rel="stylesheet" href="./css/feedback.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Tai Le:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan Script:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans New Tai Lue:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="css/profilepic.css">
    <link rel="stylesheet" href="css/dropdown.css">
  </head>
  <style>
    input{
      border: none;
      outline: none;
    }
  </style>
  <body>
    <div class="feedback">
      <div class="new-logo-1"></div>
      <img class="new-logo-2" alt="" src="./images/new-logo-1@2x.png" />

      <section class="structure">
        <header class="structure1">
          <div class="structure2">
            <div class="frame-parent">
              <img class="instance-child" alt="" src="./images/group-136.svg" />

              <a class="search">Search</a>
            </div>
          </div>
          <div class="content">
            <div class="background"></div>
            <img
              class="new-logo-11"
              loading="lazy"
              alt=""
              src="./images/new-logo-1@2x.png"
            />

            <img
              class="content-child"
              loading="lazy"
              alt=""
              src="./images/group-134.svg"
              id="group"
            />
          </div>
          <nav class="navigation">
            <nav class="home-menu-feedback">
              <a class="home" id="homeText1">Home</a>
              <a class="menu" id="menuText1">Menu</a>
              <div class="about-us-container">
                <a class="about-us" id="aboutUsText">About us</a>
              </div>
              <a class="feedback1" id="feedbackText">Feedback</a>
            </nav>
          </nav>
          <img
            class="structure-child"
            loading="lazy"
            alt=""
            id="profile-image"
          src="./images/images.png"
          />
          <div id="dropdown-menu" class="dropdown-menu">
            <a href="/profile">Profile</a>
            <a href="/payment">Payment History</a>
            <a href="/logout" id="logout">Logout</a>
        </div>
        </header>
        <div class="main">
          <div class="image-1-parent">
            <div class="image-1"></div>
            <div class="form">
              <div class="input-fields">
                <b class="got-some-feedback"
                  >Got some feedback? Lay it on us!</b
                >
                <div class="name-input">
                  <div class="feedback-name">
                    <div class="name">Name</div>
                    <div class="name-input-background">
                      <input class="name-input-border">
                    </div>
                  </div>
                </div>
              </div>
              <div class="subject-input">
                <div class="feedback-sub">
                  <div class="subject">Subject</div>
                  <div class="subject-input-background">
                    <input class="subject-input-border">
                  </div>
                </div>
              </div>
              <div class="message-input">
                <div class="feedback-message">
                  <div class="message">Feedback</div>
                  <div class="message-input-background">
                    <textarea
                      class="message-input-border"
                      rows="{7}"
                      cols="{25}"
                    >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="submit-button-container">
              <button class="submit-button-background-parent">
                <div class="submit-button-background"></div>
                <div class="submit">Submit</div>
              </button>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer-child"></div>
        <div class="footer-content">
          <div class="opening-hours-container">
            <b class="opening-hours">Opening Hours</b>
            <div class="monday-thursday-container">
              <p class="monday-thursday">Monday - Thursday</p>
              <p class="am-400">9:00 Am - 4:00 Pm</p>
            </div>
          </div>
          <div class="friday-sunday-container">
            <p class="friday-sunday">Friday - Sunday</p>
            <p class="am-500">11:00 Am - 5:00 Pm</p>
          </div>
        </div>
        <div class="contact-info">
          <div class="contact-menu">
            <div class="contact-navigation">
              <div class="contact-us-menu-parent">
                <div class="contact-us-menu">
                  <div class="contact-us-menu-label">
                    <b class="contact-us">Contact us</b>
                    <b class="menu1">Menu</b>
                  </div>
                </div>
                <div class="home-link-parent">
                  <div class="home-link">
                    <div class="home-label-container">
                      <img
                        class="image-removebg-preview-7-2"
                        loading="lazy"
                        alt=""
                        src="./images/imageremovebgpreview-7-2@2x.png"
                      />

                      <div class="home-label">
                        <u class="u">17656789</u>
                      </div>
                      <div class="home-label1">
                        <u class="home1" id="homeText">Home</u>
                      </div>
                    </div>
                  </div>
                  <div class="email-link-parent">
                    <div class="email-link">
                      <div class="email-container">
                        <div class="email-address-container">
                          <img
                            class="image-removebg-preview-8-2"
                            loading="lazy"
                            alt=""
                            src="./images/imageremovebgpreview-8-2@2x.png"
                          />

                          <div class="email-label">
                            <u class="zheygogmailcom">zheygo@gmail.com</u>
                          </div>
                        </div>
                        <div class="location-container-wrapper">
                          <div class="location-container">
                            <img
                              class="image-removebg-preview-5-1"
                              loading="lazy"
                              alt=""
                              src="./images/imageremovebgpreview-5-1@2x.png"
                            />

                            <u class="kabesa-thimphu">Kabesa, Thimphu</u>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="about-us-menu-parent">
                      <div class="about-us-menu">
                        <div class="about-us-menu-label">
                          <u class="menu2" id="menuText2">Menu</u>
                          <u class="about-us1" id="aboutUsText1">About us</u>
                        </div>
                      </div>
                      <u class="feedback2" id="feedbackText1">Feedback</u>
                      <u class="cart" id="cartText">Cart</u>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyright">
              <div class="copyright-content">
                <div class="c">c</div>
                <div class="copyright-content-child"></div>
              </div>
              <div class="rights-statement">
                <p class="zheygo-2024-all">Zheygo 2024. All Rights Reserved.</p>
              </div>
            </div>
          </div>
          <div class="quote-container">
            <div class="opening-quote">
              <h3 class="h3">“</h3>
            </div>
            <div class="quote-content">
              <div class="quote-image-container">
                <img
                  class="new-logo-21"
                  loading="lazy"
                  alt=""
                  src="./images/new-logo-2@2x.png"
                />
              </div>
              <div class="closing-quote-parent">
                <div class="closing-quote">
                  <h3 class="h31">”</h3>
                </div>
                <div class="delight-your-taste">
                  Delight your taste with diverse taste
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <div id="frameContainer" class="popup-overlay" style="display: none">
      <div class="rectangle-root">
        <div class="frame-child93"></div>
        <img class="frame-child94" alt="" src="./images/group-133600.svg" />

        <div class="personal-information" id="popuppersonalInformationText">
          Personal information
        </div>
        <div class="payment-details">Payment details</div>
        <div class="payment-history" id="popuppaymentHistoryText">
          Payment history
        </div>
        <div class="logout">Logout</div>
        <div class="frame-child95"></div>
        <div class="frame-child96"></div>
        <img class="frame-child97" alt="" src="./images/vector-30.svg" />
      </div>
    </div>

    <script>
      var popuppersonalInformationText = document.getElementById(
        "popuppersonalInformationText"
      );
      if (popuppersonalInformationText) {
        popuppersonalInformationText.addEventListener("click", function (e) {
          window.location.href = "./profile.html";
        });
      }
      
      var popuppaymentHistoryText = document.getElementById(
        "popuppaymentHistoryText"
      );
      if (popuppaymentHistoryText) {
        popuppaymentHistoryText.addEventListener("click", function (e) {
          window.location.href = "/payment";
        });
      }
      
      var group = document.getElementById("group");
      if (group) {
        group.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText1 = document.getElementById("menuText1");
      if (menuText1) {
        menuText1.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText = document.getElementById("feedbackText");
      if (feedbackText) {
        feedbackText.addEventListener("click", function (e) {
          window.location.href = "feedback.html";
        });
      }
      
      var groupImage = document.getElementById("groupImage");
      if (groupImage) {
        groupImage.addEventListener("click", function () {
          var popup = document.getElementById("frameContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText2 = document.getElementById("menuText2");
      if (menuText2) {
        menuText2.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText1 = document.getElementById("feedbackText1");
      if (feedbackText1) {
        feedbackText1.addEventListener("click", function (e) {
          window.location.href = "feedback.html";
        });
      }
      
      var cartText = document.getElementById("cartText");
      if (cartText) {
        cartText.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      </script>
      <script src="js/dropdown.js"></script>
      <script src="js/profile.js"></script>
  </body>
</html>
