<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/mountain-cafe.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Tai Le:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan Script:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans New Tai Lue:wght@500&display=swap"
    />
    <link rel="stylesheet" href="./css/profilepic.css">
    <script src="./js/profile.js"></script>
    <link rel="stylesheet" href="css/dropdown.css">
  </head>
  <style>
.order33,.order34,.order35{
  cursor: pointer;
      pointer-events: none;
}
  </style>
  <body>
    <div class="mountain-cafe2">
      <div class="mountain-cafe-child"></div>
      <section class="frame-parent104">
        <header class="group-header">
          <div class="frame-child132"></div>
          <div class="new-logo-1-container">
            <img
              class="new-logo-15"
              loading="lazy"
              alt=""
              src="./images/new-logo-2@2x.png"
            />
          </div>
          <div class="instance-wrapper29">
            <div class="frame-parent105">
              <img
                class="instance-child19"
                alt=""
                src="./images/group-136.svg"
              />

              <div class="search4">Search</div>
            </div>
          </div>
          <nav class="frame-wrapper59">
            <nav class="home-parent3">
              <div class="home10" id="homeText1">Home</div>
              <div class="menu14" id="menuText1">Menu</div>
              <div class="about-us10" id="aboutUsText">About us</div>
            </nav>
          </nav>
          <div class="frame-wrapper60">
            <div class="frame-parent106">
              <div class="feedback-container">
                <div class="feedback10" id="feedbackText">Feedback</div>
              </div>
              <div class="frame-wrapper61">
                <img
                  class="frame-child133"
                  loading="lazy"
                  alt=""
                  src="./images/group-134.svg"
                />
              </div>
              <img
                class="frame-child134"
                id="profile-image"
            alt=""
            src="./images/images.png"
              />
              <div id="dropdown-menu" class="dropdown-menu">
                <a href="/profile">Profile</a>
                <a href="/payment">Payment History</a>
                <a href="/logout" id="logout">Logout</a>
            </div>
            </div>
          </div>
        </header>
        <div class="frame-wrapper62">
          <div class="image-1-parent5">
            <img class="image-1-icon5" alt="" src="./images/image-1@2x.png" />

            <div class="wrapper-group-4-group">
              <div class="wrapper-group-41">
                <img
                  class="wrapper-group-4-item"
                  loading="lazy"
                  alt=""
                  src="./images/group-4.svg"
                />
              </div>
              <div class="mountain-cafe-container">
                <p class="mountain-cafe3">
                  <b>
                    <span>
                      <span>Mountain </span>
                      <span class="cafe">Cafe</span>
                    </span>
                  </b>
                </p>
                <p class="blank-line8">
                  <b>
                    <span>
                      <span>&nbsp;</span>
                    </span>
                  </b>
                </p>
                <p class="blank-line9">
                  <b>
                    <span>
                      <span>&nbsp;</span>
                    </span>
                  </b>
                </p>
                <p class="were-thrilled-to">
                  - We're thrilled to partner with this innovative cafe,
                  bringing their modern twist on Bhutanese cuisine straight to
                  your doorstep.
                </p>
                <p class="order-online-and">
                  Order online and experience a burst of flavor!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="wrapper-rectangle-14-parent">
        <div class="wrapper-rectangle-14">
          <img
            class="wrapper-rectangle-14-child"
            alt=""
            src="./images/rectangle-14@2x.png"
          />
        </div>
        <img
          class="frame-child135"
          loading="lazy"
          alt=""
          src="./images/rectangle-208@2x.png"
        />

        <div class="frame-child136"></div>
        
      </section>
      <div class="embark-on-a-culinary-adventure-wrapper">
        <h3 class="embark-on-a-container">
          <p class="embark-on-a">Embark on a culinary</p>
          <p class="adventure-with">adventure with</p>
          <p class="mountain-cafe4">Mountain cafe!</p>
        </h3>
      </div>
      <section class="mountain-cafe-inner">
        <div class="frame-parent107">
          <div class="frame-wrapper63">
            <div class="frame-parent108">
              <div class="the-authentic-taste-of-bhutan-wrapper">
                <div class="the-authentic-taste">
                  The authentic taste of Bhutan has arrived!
                </div>
              </div>
              <div class="vector-container">
                <img
                  class="frame-child137"
                  loading="lazy"
                  alt=""
                  src="./images/vector-6.svg"
                />

                <div class="frame-child138"></div>
              </div>
            </div>
          </div>
          <div class="frame-parent109">
            <div class="rectangle-parent63">
              <div class="frame-child139"></div>
              <img
                class="frame-child140"
                loading="lazy"
                alt=""
                src="./images/rectangle-931@2x.png"
              />

              <div class="frame-parent110">
                <div class="instance-wrapper30">
                  <img
                    class="frame-child141 svg-toggle"
                    loading="lazy"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="backyard-roasted-chicken-container">
                  <p class="backyard-roasted">Backyard roasted</p>
                  <p class="chicken-with-mash">chicken with mash potato</p>
                </div>
                <div class="instance-wrapper31">
                  <div class="rectangle-parent64">
                    <div class="instance-child20" id="instance-child20"></div>
                    <div class="order33" id="instance-child20">Order</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper64">
              <div class="rectangle-parent65">
                <div class="frame-child142"></div>
                <img
                  class="frame-child143"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-1002@2x.png"
                />

                <div class="frame-wrapper65">
                  <div class="frame-parent111">
                    <div class="instance-wrapper32">
                      <img
                        class="frame-child144 svg-toggle" 
                        loading="lazy"
                        alt=""
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="veg-fried-noodles-wrapper">
                      <div class="veg-fried-noodles">Veg-Fried noodles</div>
                    </div>
                    <div class="rectangle-parent66">
                      <div class="instance-child21" id="instance-child21"></div>
                      <div class="order34">Order</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent67">
              <div class="frame-child145"></div>
              <img
                class="frame-child146"
                loading="lazy"
                alt=""
                src="./images/rectangle-1262@2x.png"
              />

              <div class="frame-parent112">
                <div class="instance-wrapper33">
                  <img
                    class="frame-child147 svg-toggle"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="item-twelve-names">
                  <div class="bibimbap1">Bibimbap</div>
                </div>
                <div class="rectangle-parent68">
                  <div class="instance-child22" id="child1"></div>
                  <div class="order35">Order</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent113">
            <div class="rectangle-parent69">
              <div class="frame-child148"></div>
              <img
                class="frame-child149"
                loading="lazy"
                alt=""
                src="./images/rectangle-1301@2x.png"
              />

              <div class="frame-wrapper66">
                <div class="frame-parent114">
                  <div class="instance-wrapper34">
                    <img
                      class="frame-child150 svg-toggle"
                      loading="lazy"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="butter-croissants-wrapper">
                    <div class="butter-croissants">Butter Croissants</div>
                  </div>
                  <div class="rectangle-parent70">
                    <div class="instance-child23"></div>
                    <div class="order36">Order</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper67">
              <div class="rectangle-parent71">
                <div class="frame-child151"></div>
                <img
                  class="frame-child152"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-1311@2x.png"
                />

                <div class="frame-parent115">
                  <div class="instance-wrapper35">
                    <img
                      class="frame-child153 svg-toggle"
                      loading="lazy"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="item-seven-names">
                    <div class="egg-rice-special">Egg rice-special</div>
                  </div>
                  <div class="rectangle-parent72">
                    <div class="instance-child24"></div>
                    <div class="order37">Order</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent73">
              <div class="frame-child154"></div>
              <img
                class="frame-child155"
                loading="lazy"
                alt=""
                src="./images/rectangle-132@2x.png"
              />

              <div class="frame-parent116">
                <div class="instance-wrapper36">
                  <img
                    class="frame-child156 svg-toggle"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="burritos-wrapper">
                  <div class="burritos">Burritos</div>
                </div>
                <div class="rectangle-parent74">
                  <div class="instance-child25"></div>
                  <div class="order38">Order</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent117">
            <div class="rectangle-parent75">
              <div class="frame-child157"></div>
              <img
                class="frame-child158"
                loading="lazy"
                alt=""
                src="./images/rectangle-1911@2x.png"
              />

              <div class="frame-parent118">
                <div class="instance-wrapper37">
                  <img
                    class="frame-child159 svg-toggle"
                    loading="lazy"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="dosa-wrapper">
                  <div class="dosa">Dosa</div>
                </div>
                <div class="rectangle-parent76">
                  <div class="frame-child160"></div>
                  <b class="order39">Order</b>
                </div>
              </div>
            </div>
            <div class="frame-wrapper68">
              <div class="rectangle-parent77">
                <div class="frame-child161"></div>
                <img
                  class="frame-child162"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-1921@2x.png"
                />

                <div class="frame-parent119">
                  <div class="instance-wrapper38">
                    <img
                      class="frame-child163 svg-toggle"
                      loading="lazy"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="frame-parent120">
                    <div class="fries-with-spice-wrapper">
                      <div class="fries-with-spice">Fries with spice</div>
                    </div>
                    <div class="rectangle-parent78">
                      <div class="frame-child164"></div>
                      <b class="order40">Order</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent79">
              <div class="frame-child165"></div>
              <img
                class="frame-child166"
                loading="lazy"
                alt=""
                src="./images/rectangle-193@2x.png"
              />

              <div class="frame-parent121">
                <div class="instance-wrapper39">
                  <img
                    class="frame-child167 svg-toggle"
                    loading="lazy"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="souper-spaghetti-wrapper">
                  <div class="souper-spaghetti">Souper spaghetti</div>
                </div>
                <div class="rectangle-parent80">
                  <div class="frame-child168"></div>
                  <b class="order41">Order</b>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent122">
            <div class="rectangle-parent81">
              <div class="frame-child169"></div>
              <img
                class="frame-child170"
                loading="lazy"
                alt=""
                src="./images/rectangle-197@2x.png"
              />

              <div class="frame-parent123">
                <div class="instance-wrapper40">
                  <img
                    class="frame-child171 svg-toggle"
                    loading="lazy"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="chicken-biryani-wrapper">
                  <div class="chicken-biryani">Chicken biryani</div>
                </div>
                <div class="rectangle-parent82">
                  <div class="frame-child172"></div>
                  <b class="order42">Order</b>
                </div>
              </div>
            </div>
            <div class="frame-wrapper69">
              <div class="rectangle-parent83">
                <div class="frame-child173"></div>
                <img
                  class="frame-child174"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-1981@2x.png"
                />

                <div class="frame-parent124">
                  <div class="instance-wrapper41">
                    <img
                      class="frame-child175 svg-toggle"
                      loading="lazy"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="frame-parent125">
                    <div class="fried-chickenkfc-wrapper">
                      <div class="fried-chickenkfc">Fried chicken(KFC)</div>
                    </div>
                    <div class="rectangle-parent84">
                      <div class="frame-child176"></div>
                      <b class="order43">Order</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent85">
              <div class="frame-child177"></div>
              <img
                class="frame-child178"
                loading="lazy"
                alt=""
                src="./images/rectangle-199@2x.png"
              />

              <div class="frame-parent126">
                <div class="instance-wrapper42">
                  <img
                    class="frame-child179 svg-toggle"
                    loading="lazy"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="lhaphing-wrapper">
                  <div class="lhaphing">Lhaphing</div>
                </div>
                <div class="rectangle-parent86">
                  <div class="frame-child180"></div>
                  <b class="order44">Order</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer4">
        <div class="footer-child2"></div>
        <div class="frame-parent127">
          <div class="opening-hours-parent2">
            <div class="opening-hours4">Opening Hours</div>
            <div class="monday-thursday-container4">
              <p class="monday-thursday4">Monday - Thursday</p>
              <p class="am-4004">9:00 Am - 4:00 Pm</p>
            </div>
          </div>
          <div class="friday-sunday-container4">
            <p class="friday-sunday4">Friday - Sunday</p>
            <p class="am-5004">11:00 Am - 5:00 Pm</p>
          </div>
        </div>
        <div class="frame-parent128">
          <div class="frame-parent129">
            <div class="frame-wrapper70">
              <div class="frame-parent130">
                <div class="contact-menu-wrapper">
                  <div class="contact-menu">
                    <div class="contact-us4">Contact us</div>
                    <div class="menu15">Menu</div>
                  </div>
                </div>
                <div class="home-logo-container">
                  <div class="home-logo-container-inner">
                    <div class="image-removebg-preview-7-2-parent1">
                      <img
                        class="image-removebg-preview-7-24"
                        alt=""
                        src="./images/imageremovebgpreview-7-2@2x.png"
                      />

                      <div class="home-label">
                        <div class="div6">17656789</div>
                      </div>
                      <div class="home-label1">
                        <div class="home11">Home</div>
                      </div>
                    </div>
                  </div>
                  <div class="contact-info-container">
                    <div class="contact-info-container-inner">
                      <div class="frame-parent131">
                        <div class="image-removebg-preview-8-2-parent1">
                          <img
                            class="image-removebg-preview-8-24"
                            alt=""
                            src="./images/imageremovebgpreview-8-2@2x.png"
                          />

                          <div class="email-label">
                            <div class="zheygogmailcom4">zheygo@gmail.com</div>
                          </div>
                        </div>
                        <div class="frame-wrapper71">
                          <div class="image-removebg-preview-5-1-parent1">
                            <img
                              class="image-removebg-preview-5-14"
                              alt=""
                              src="./images/imageremovebgpreview-5-1@2x.png"
                            />

                            <div class="kabesa-thimphu4">Kabesa, Thimphu</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="footer-links">
                      <div class="menu-about-container">
                        <div class="menu-parent1">
                          <div class="menu16" id="menuText2">Menu</div>
                          <div class="about-us11" id="aboutUsText1">
                            About us
                          </div>
                        </div>
                      </div>
                      <div class="feedback11" id="feedbackText1">Feedback</div>
                      <div class="cart5" id="cartText">Cart</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyright-container">
              <div class="c-parent1">
                <div class="c4">c</div>
                <div class="frame-child181"></div>
              </div>
              <div class="rights-container">
                <div class="zheygo-2024-all4">
                  Zheygo 2024. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
          <div class="quote-container">
            <div class="wrapper7">
              <h3 class="h34">“</h3>
            </div>
            <div class="slogan-container1">
              <div class="new-logo-2-wrapper1">
                <img
                  class="new-logo-25"
                  loading="lazy"
                  alt=""
                  src="./images/new-logo-2-1@2x.png"
                />
              </div>
              <div class="frame-parent132">
                <div class="wrapper8">
                  <h3 class="h35">”</h3>
                </div>
                <div class="delight-your-taste4">
                  Delight your taste with diverse taste
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText1 = document.getElementById("menuText1");
      if (menuText1) {
        menuText1.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText = document.getElementById("feedbackText");
      if (feedbackText) {
        feedbackText.addEventListener("click", function (e) {
          window.location.href = '/feedback'
        });
      }
      
      var menuText2 = document.getElementById("menuText2");
      if (menuText2) {
        menuText2.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText1 = document.getElementById("feedbackText1");
      if (feedbackText1) {
        feedbackText1.addEventListener("click", function (e) {
          window.location.href = '/feedback'
        });
      }
      
      var cartText = document.getElementById("cartText");
      if (cartText) {
        cartText.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }

document.getElementById("instance-child20").addEventListener("click", function() {
  window.location.href = "/chicken";
});
document.getElementById("instance-child21").addEventListener("click", function() {
  window.location.href = "/noodles";
});
document.getElementById("child1").addEventListener("click", function() {
  window.location.href = "/bibimbap";
});
      </script>
      <script src="./js/heartsign.js"></script>
      <script src="js/dropdown.js"></script>
  </body>
</html>
