<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/our-menu.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Tai Le:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan Script:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans New Tai Lue:wght@500&display=swap"
    />
    <link rel="stylesheet" href="./css/profilepic.css">
    <script src="./js/profile.js"></script>
  </head>

  <style>
    .order,.order2,.order1,.order3{
      cursor: pointer;
      pointer-events: none;
    }
    :root {
        --font-size-17xl: 34px; /* Adjust as necessary */
        --color-black: #000000;
        --color-chocolate-100: #DB6103; /* Example color */
        --font-inter: 'Inter', sans-serif;
    }
</style>
  <body>
    <div class="our-menu">
      <header class="frame-parent49">
        <div class="instance-wrapper1">
          <div class="frame-parent50">
            <img class="instance-child7" alt="" src="./images/group-136.svg" />

            <div class="search2">Search</div>
          </div>
        </div>
        <div class="rectangle-parent15">
          <div class="frame-child35"></div>
          <img
            class="new-logo-13"
            loading="lazy"
            alt=""
            src="./images/new-logo-2@2x.png"
          />

          <img
            class="frame-child36"
            loading="lazy"
            alt=""
            src="./images/group-134.svg"
            id="group"
          />
        </div>
        <nav class="frame-wrapper33">
          <nav class="home-parent1">
            <div class="home4" id="homeText1">Home</div>
            <div class="menu6" id="menuText1">Menu</div>
            <div class="about-us-frame">
              <div class="about-us4" id="aboutUsText">About us</div>
            </div>
            <div class="feedback4" id="feedbackText">Feedback</div>
          </nav>
        </nav>
        <img
          class="frame-child37"
          loading="lazy"
          id="profile-image"
          alt=""
          src="./images/images.png"
        />
      </header>
      <section class="our-menu-child"></section>
      <section class="description-parent">
        <b class="description">
          <p class="blank-line">&nbsp;</p>
          <p class="blank-line1">&nbsp;</p>
        </b>
        <img
          class="d4f317-b04f-4d69-bc60-542167ce-icon4"
          alt=""
          src="./images/12d4f317b04f4d69bc60542167ce8b71-1@2x.png"
        />

        <div class="wrapper-group-118">
          <img
            class="wrapper-group-118-child"
            alt=""
            src="./images/group-118@2x.png"
          />
        </div>
        <div class="menu-description">
          <img
            class="menu-description-child"
            loading="lazy"
            alt=""
            src="./images/arrow-1.svg"
          />

          <div class="our-menu-whether-container">
            <p class="our-menu1">
              <b>
                <span>
                  <span class="our">Our </span>
                  <span>Menu</span>
                </span>
              </b>
            </p>
            <p class="blank-line2">
              <b>
                <span>
                  <span>&nbsp;</span>
                </span>
              </b>
            </p>
            <p class="blank-line3">
              <b>
                <span>
                  <span>&nbsp;</span>
                </span>
              </b>
            </p>
            <p class="whether-youre-craving-classic">
              <span>
                <span
                  >Whether you're craving classic comfort food or bold and
                  adventurous flavors, our menu has something for everyone.
                </span>
                <b class="delight-your-plate"
                  >“Delight Your Plate with Diverse Tastes”</b
                >
              </span>
            </p>
          </div>
        </div>
        <img
          class="photo1714725283-1-21"
          loading="lazy"
          alt=""
          src="./images/photo1714725283-1-21@2x.png"
        />
      </section>
      <div class="our-menu-item"></div>
      <section class="our-menu-inner">
        <div class="inner-delivery-two-parent">
          <div class="inner-delivery-two">
            <img
              class="image-27-icon"
              loading="lazy"
              alt=""
              src="./images/image-27@2x.png"
            />

            <div class="inner-delivery-three-wrapper">
              <div class="inner-delivery-three">
                <div class="we-offer-you-container">
                  <p style="white-space: nowrap;">
                    <span style="
                        font-size: 29px; 
                        font-weight: 600; 
                        font-family: var(--font-inter); 
                        color: var(--color-black);">
                        We offer you
                    </span>
                    <span style="
                        font-size: 35px; /* Ensure font sizes are consistent */
                        font-weight: 600; 
                        color: var(--color-chocolate-100);">
                        DELIVERYSERVICES
                    </span>
                </p>
                  <p class="blank-line4">
                    <span>
                      <span class="blank-line5">&nbsp;</span>
                    </span>
                  </p>
                  <p class="enjoy-our-delicious-food-in-th">
                    <span>
                      <span
                        >Enjoy our delicious food in the comfort of your own
                        home. We provide convenient delivery options for our
                        entire menu. Whether you're craving a quick lunch or a
                        relaxing dinner, let us bring the flavors to you!</span
                      >
                    </span>
                  </p>
                </div>
                <div class="inner-delivery-three-inner">
                  <button class="rectangle-parent16">
                    <div class="instance-child8"></div>
                    <b class="how-to-order">How to order</b>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper34">
            <div class="vector-group">
              <img
                class="vector-icon"
                loading="lazy"
                alt=""
                src="./images/vector-5.svg"
              />

              <div class="inner-feast-two-wrapper">
                <div class="inner-feast-two">
                  <h2 class="order-in-feast">Order In, Feast Out</h2>
                  <div class="feast-button">
                    <div class="button-inner">
                      <img
                        class="button-inner-child"
                        loading="lazy"
                        alt=""
                        src="./images/vector-2.svg"
                      />

                      <div class="button-inner-item"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="inner-veg-parent">
            <div class="inner-veg">
              <div class="veg-parent">
                <h2 class="veg">Veg</h2>
                <div class="ellipse-wrapper">
                  <div class="frame-child38"></div>
                </div>
              </div>
            </div>
            <div class="order-inner-parent">
              <div class="order-inner">
                <div class="order-inner-child"></div>
                <img
                  class="order-inner-item"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-93@2x.png"
                />

                <div class="frame-parent51 " >
                    <div class="instance-wrapper2">
                      <img
                        class="frame-child39 svg-toggle"
                        alt="Love Sign"
                        id="svgImage"
                        src="./images/vector-15.svg"
                      />
                    </div>
                  
                  
                  <div class="ema-datshi-container">
                    <div class="ema-datshi2">Ema datshi</div>
                  </div>
                  <div class="rectangle-parent17">
                    <div class="instance-child9"></div>
                    <div class="order">Order</div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper35">
                <div class="rectangle-parent18">
                  <div class="frame-child40"></div>
                  <img
                    class="frame-child41"
                    loading="lazy"
                    alt=""
                    src="./images/rectangle-100@2x.png"
                  />

                  <div class="frame-parent52 ">
                    <div class="instance-wrapper3">
                      <img
                        class="frame-child39 svg-toggle"
                        alt="Love Sign"
                        id="svgImage"
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="potato-wrapper">
                      <div class="potato">Potato</div>
                    </div>
                    <div class="potato-button-rect-parent">
                      <div class="potato-button-rect"></div>
                      <div class="order1">Order</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-inner1">
                <div class="order-inner-inner"></div>
                <img
                  class="order-inner-child1"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-126@2x.png"
                />

                <div class="frame-parent53 ">
                  <div class="instance-wrapper4">
                    <img
                      class="frame-child43 svg-toggle"
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="asparagus-wrapper">
                    <div class="asparagus">Asparagus</div>
                  </div>
                  <div class="rectangle-parent19">
                    <div class="instance-child10"></div>
                    <div class="order2">Order</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent54">
            <div class="rectangle-parent20">
              <div class="frame-child44"></div>
              <img
                class="frame-child45"
                loading="lazy"
                alt=""
                src="./images/rectangle-130@2x.png"
              />

              <div class="frame-parent55 ">
                <div class="instance-wrapper5">
                  <img
                    class="frame-child46 svg-toggle"
                    id="svgImage"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="spinach-wrapper">
                  <div class="spinach">Spinach</div>
                </div>
                <div class="spinach-button-rect-parent">
                  <div class="spinach-button-rect"></div>
                  <div class="order3">Order</div>
                </div>
              </div>
            </div>
            <div class="cauliflower-inner-wrapper">
              <div class="cauliflower-inner">
                <div class="cauliflower-inner-child"></div>
                <img
                  class="cauliflower-inner-item"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-131@2x.png"
                />

                <div class="cauliflower-content svg-toggle">
                  <div class="cauliflower-content-inner">
                    <img
                      class="frame-child47 svg-toggle"
                      alt=""
                      id="svgImage"
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="cauliflower-title-inner-parent">
                    <div class="cauliflower-title-inner">
                      <div class="fried-cauli-flower">Fried cauli-flower</div>
                    </div>
                    <div class="cauliflower-button-rect-parent">
                      <div class="cauliflower-button-rect"></div>
                      <div class="order4">Order</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent21">
              <div class="frame-child48"></div>
              <img
                class="frame-child49"
                loading="lazy"
                alt=""
                src="./images/rectangle-100@2x.png"
              />

              <div class="potato-two-content">
                <div class="frame-parent56">
                  <div class="instance-wrapper6">
                    <img
                      class="frame-child50 svg-toggle"
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="potato-item">
                    <div class="potato1">Potato</div>
                  </div>
                  <div class="potato-order-btn">
                    <div class="potato-order-area"></div>
                    <b class="order5">Order</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kewa-datshi-items-parent">
            <div class="kewa-datshi-items">
              <div class="kewa-datshi-card">
                <div class="kewa-datshi-card-child"></div>
                <img
                  class="kewa-image-area"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-191@2x.png"
                />

                <div class="kewa-info">
                  <div class="kewa-info-inner">
                    <img
                      class="frame-child51 svg-toggle "
                      id="svgImage"
                      alt=""
                      src="./images/vector-21.svg"
                    />
                  </div>
                  <div class="kewa-dish-name">
                    <div class="kewa-datshi1">Kewa datshi</div>
                  </div>
                  <div class="kewa-order">
                    <div class="kewa-order-area"></div>
                    <b class="order6">Order</b>
                  </div>
                </div>
              </div>
              <div class="kewa-datshi-card1">
                <div class="kewa-datshi-card-item"></div>
                <img
                  class="kewa-datshi-card-inner"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-130@2x.png"
                />

                <div class="frame-parent57">
                  <div class="instance-wrapper7">
                    <img
                      class="frame-child52 svg-toggle"
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="spinach-container">
                    <div class="spinach1">Spinach</div>
                  </div>
                  <div class="rectangle-parent22">
                    <div class="frame-child53"></div>
                    <b class="order7">Order</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="cheese-asparagus-card-parent">
              <div class="cheese-asparagus-card">
                <div class="cheese-asparagus-card-child"></div>
                <img
                  class="cheese-image-area"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-192@2x.png"
                />

                <div class="cheese-info">
                  <div class="cheese-icon-area-parent">
                    <div class="cheese-icon-area">
                      <img
                        class="cheese-icon-area-child svg-toggle"
                         alt="Love Sign"
                        id="svgImage"
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="cheese-name-info">
                      <div class="cheese-asperagus-wrapper">
                        <div class="cheese-asperagus">Cheese Asperagus</div>
                      </div>
                      <div class="cheese-order">
                        <div class="cheese-order-area"></div>
                        <b class="order8">Order</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cheese-asparagus-card1">
                <div class="cheese-asparagus-card-item"></div>
                <img
                  class="cheese-asparagus-card-inner"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-198@2x.png"
                />

                <div class="frame-parent58">
                  <div class="instance-wrapper8">
                    <img
                      class="frame-child54 svg-toggle"
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="fried-cheese-card">
                    <div class="fried-cheese-wrapper">
                      <div class="fried-cheese">Fried cheese</div>
                    </div>
                    <div class="fried-order">
                      <div class="fried-order-area"></div>
                      <b class="order9">Order</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="potato-card-parent">
              <div class="potato-card">
                <div class="potato-card-child"></div>
                <img
                  class="potato-image-area"
                  alt=""
                  src="./images/rectangle-100@2x.png"
                />

                <div class="potato-info">
                  <div class="potato-icon-area-parent">
                    <div class="potato-icon-area">
                      <img
                        class="potato-icon-area-child svg-toggle"
                        alt=""
                        id="svgImage"
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="potato-dish-name">
                      <div class="potato2">Potato</div>
                    </div>
                    <div class="potato-order">
                      <div class="potato-order-area1"></div>
                      <b class="order10">Order</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="potato-card1">
                <div class="potato-card-item"></div>
                <img
                  class="potato-card-inner"
                  alt=""
                  src="./images/rectangle-100@2x.png"
                />

                <div class="potato-card-inner1">
                  <div class="frame-parent59">
                    <div class="instance-wrapper9">
                      <img
                        class="frame-child55 svg-toggle"
                         alt="Love Sign"
                        id="svgImage"
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="potato-container">
                      <div class="potato3">Potato</div>
                    </div>
                    <div class="rectangle-parent23">
                      <div class="frame-child56"></div>
                      <b class="order11">Order</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="non-veg-items-wrapper">
        <div class="non-veg-items">
          <div class="non-veg-header">
            <div class="non-veg-title">
              <h2 class="non-veg">Non-Veg</h2>
              <div class="non-veg-icon-area">
                <div class="non-veg-icon"></div>
              </div>
            </div>
          </div>
          <div class="non-veg-dishes">
            <div class="non-veg-cards">
              <div class="shakam-paa-card">
                <div class="shakam-paa-card-child"></div>
                <img
                  class="shakam-image-area"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-157@2x.png"
                />

                <div class="shakam-info">
                  <div class="shakam-info-inner">
                    <img
                      class="frame-child57 svg-toggle"
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="shakam-names">
                    <div class="shakam-paa">Shakam paa</div>
                  </div>
                  <div class="shakam-order">
                    <div class="shakam-order-area"></div>
                    <b class="order12">Order</b>
                  </div>
                </div>
              </div>
              <div class="shakam-datshi-card">
                <div class="shakam-datshi-info">
                  <div class="shakam-datshi-info-child"></div>
                  <img
                    class="shakam-datshi-image"
                    loading="lazy"
                    alt=""
                    src="./images/rectangle-161@2x.png"
                  />

                  <div class="shakam-datshi-name-info">
                    <div class="shakam-datshi-icon-area-parent">
                      <div class="shakam-datshi-icon-area">
                        <img
                          class="shakam-datshi-icon-area-child svg-toggle"
                          alt=""
                          id="svgImage"
                          src="./images/vector-15.svg"
                        />
                      </div>
                      <div class="shakam-datshi-name-details">
                        <div class="shakam-datshi-wrapper">
                          <div class="shakam-datshi1">Shakam datshi</div>
                        </div>
                        <div class="shakam-datshi-order">
                          <div class="shakam-datshi-order-area"></div>
                          <b class="order13">Order</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pork-rib-card">
                <div class="pork-rib-card-child"></div>
                <img
                  class="pork-image-area"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-165@2x.png"
                />

                <div class="pork-info">
                  <div class="pork-info-inner">
                    <img
                      class="frame-child58 svg-toggle"
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="pork-names">
                    <div class="chicken">Chicken</div>
                  </div>
                  <div class="chicken-card">
                    <div class="chicken-image-area"></div>
                    <b class="order14">Order</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="non-veg-cards1">
              <div class="rectangle-parent24">
                <div class="frame-child59"></div>
                <img
                  class="frame-child60"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-158@2x.png"
                />

                <div class="frame-parent60">
                  <div class="instance-wrapper10">
                    <img
                      class="frame-child61 svg-toggle"
                      alt=""
                      id="svgImage"
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="dry-fish-wrapper">
                    <div class="dry-fish">Dry fish</div>
                  </div>
                  <div class="rectangle-parent25">
                    <div class="frame-child62"></div>
                    <b class="order15">Order</b>
                  </div>
                </div>
              </div>
              <div class="non-veg-cards-inner">
                <div class="rectangle-parent26">
                  <div class="frame-child63"></div>
                  <img
                    class="frame-child64"
                    loading="lazy"
                    alt=""
                    src="./images/rectangle-162@2x.png"
                  />

                  <div class="frame-parent61">
                    <div class="instance-wrapper11">
                      <img
                        class="frame-child65 svg-toggle"
                        alt=""
                        id="svgImage"
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="dry-fish-card">
                      <div class="dry-fish1">Dry fish</div>
                    </div>
                    <div class="dry-fish-order">
                      <div class="dry-fish-order-area"></div>
                      <b class="order16">Order</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent27">
                <div class="frame-child66"></div>
                <img
                  class="frame-child67"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-166@2x.png"
                />

                <div class="frame-parent62">
                  <div class="instance-wrapper12">
                    <img
                      class="frame-child68 svg-toggle"
                      alt=""
                      id="svgImage"
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="frame-parent63">
                    <div class="chicken-potato-wrapper">
                      <div class="chicken-potato">Chicken-potato</div>
                    </div>
                    <div class="pork-order">
                      <div class="pork-order-area"></div>
                      <b class="order17">Order</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="non-veg-cards2">
              <div class="rectangle-parent28">
                <div class="frame-child69"></div>
                <img
                  class="frame-child70"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-159@2x.png"
                />

                <div class="frame-parent64">
                  <div class="instance-wrapper13">
                    <img
                      class="frame-child71 svg-toggle"
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="pork-rib-wrapper">
                    <div class="pork-rib">Pork rib</div>
                  </div>
                  <div class="rectangle-parent29">
                    <div class="frame-child72"></div>
                    <b class="order18">Order</b>
                  </div>
                </div>
              </div>
              <div class="non-veg-cards-child">
                <div class="rectangle-parent30">
                  <div class="frame-child73"></div>
                  <img
                    class="frame-child74"
                    loading="lazy"
                    alt=""
                    src="./images/rectangle-163@2x.png"
                  />

                  <div class="frame-parent65">
                    <div class="instance-wrapper14">
                      <img
                        class="frame-child75 svg-toggle"
                        alt=""
                        id="svgImage"
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="geep-wrapper">
                      <div class="geep">Geep</div>
                    </div>
                    <div class="rectangle-parent31">
                      <div class="frame-child76"></div>
                      <b class="order19">Order</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent32">
                <div class="frame-child77"></div>
                <img
                  class="frame-child78"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-167@2x.png"
                />

                <div class="frame-parent66">
                  <div class="instance-wrapper15">
                    <img
                      class="frame-child79 svg-toggle" 
                      id="svgImage"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="pork-wrapper">
                    <div class="pork">Pork</div>
                  </div>
                  <div class="rectangle-parent33">
                    <div class="frame-child80"></div>
                    <b class="order20">Order</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="feedback5" id="feedbackText1">Feedback</div>
      <div class="home5" id="homeText2">Home</div>
      <div class="menu7">Menu</div>
      <div class="about-us5" id="aboutUsText1">About Us</div>
      <section class="frame-section">
        <div class="rectangle-parent34">
          <div class="frame-child81"></div>
          <img
            class="photo-6172722853624004699-y-1-icon"
            loading="lazy"
            alt=""
            src="./images/photo-6172722853624004699-y-1@2x.png"
          />

          <div class="side-dishes-description">
            <div class="we-provide-a-delightful-array-parent">
              <h2 class="we-provide-a-container">
                <p class="we-provide-a">We provide a delightful array of</p>
                <p class="side-dishes-to">
                  side dishes to complement your meal!
                </p>
              </h2>
              <div class="explore-button-container">
                <button class="rectangle-parent35" id="groupButton1">
                  <div class="frame-child82"></div>
                  <div class="explore">Explore</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="featured-restaurant-content-wrapper">
        <div class="featured-restaurant-content">
          <div class="featured-restaurant-header">
            <h1 class="featured-restaurant">
              <span>Featured</span>
              <span class="span2"> </span>
              <span class="restaurant">restaurant</span>
            </h1>
          </div>
          <div class="featured-restaurant-items">
            <div class="component-5">
              <img
                class="restaurant-image-background"
                loading="lazy"
                alt=""
                src="./images/Rectangle.png"
              />

              <button class="restaurant-image"></button>
              <h2 class="mountain-cafe1">Mountain cafe</h2>
            </div>
            <div class="wrapper-rectangle-187-parent">
              <div class="wrapper-rectangle-187">
                <img
                  class="wrapper-rectangle-187-child"
                  alt=""
                  src="./images/rectangle2.png"
                />
              </div>
              <button  class="instance-child11"></button>
              <h2 class="village-restaurant1">Village restaurant</h2>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer2">
        <div class="footer-inner"></div>
        <div class="footer-content">
          <div class="opening-hours-container">
            <div class="opening-hours2">Opening Hours</div>
            <div class="monday-thursday-container2">
              <p class="monday-thursday2">Monday - Thursday</p>
              <p class="am-4002">9:00 Am - 4:00 Pm</p>
            </div>
          </div>
          <div class="friday-sunday-container2">
            <p class="friday-sunday2">Friday - Sunday</p>
            <p class="am-5002">11:00 Am - 5:00 Pm</p>
          </div>
        </div>
        <div class="footer-links-content-parent">
          <div class="footer-links-content">
            <div class="footer-links-container">
              <div class="footer-links-wrapper">
                <div class="footer-links-first-row">
                  <div class="contact-us2">Contact us</div>
                  <div class="menu8">Menu</div>
                </div>
              </div>
              <div class="footer-links-second-row">
                <div class="footer-links-third-row">
                  <div class="home-link-container">
                    <img
                      class="image-removebg-preview-7-22"
                      loading="lazy"
                      alt=""
                      src="./images/imageremovebgpreview-7-2@2x.png"
                    />

                    <div class="home-link">
                      <div class="div4">17656789</div>
                    </div>
                    <div class="home-link1">
                      <div class="home6" id="homeText">Home</div>
                    </div>
                  </div>
                </div>
                <div class="footer-links-fourth-row">
                  <div class="email-link-container">
                    <div class="email-link-wrapper">
                      <div class="email-link">
                        <img
                          class="image-removebg-preview-8-22"
                          loading="lazy"
                          alt=""
                          src="./images/imageremovebgpreview-8-2@2x.png"
                        />

                        <div class="zheygogmailcom-frame">
                          <div class="zheygogmailcom2">zheygo@gmail.com</div>
                        </div>
                      </div>
                      <div class="location-link-container">
                        <div class="location-link-wrapper">
                          <img
                            class="image-removebg-preview-5-12"
                            loading="lazy"
                            alt=""
                            src="./images/imageremovebgpreview-5-1@2x.png"
                          />

                          <div class="kabesa-thimphu2">Kabesa, Thimphu</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="feedback-cart-links">
                    <div class="about-menu-links-container">
                      <div class="about-menu-links">
                        <div class="menu9" id="menuText3">Menu</div>
                        <div class="about-us6" id="aboutUsText2">About us</div>
                      </div>
                    </div>
                    <div class="feedback6" id="feedbackText2">Feedback</div>
                    <div class="cart3" id="cartText">Cart</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-content-parent">
            <div class="copyright-content">
              <div class="c2">c</div>
              <div class="copyright-content-child"></div>
            </div>
            <div class="zheygo-2024-all-rights-reserv-frame">
              <div class="zheygo-2024-all2">
                Zheygo 2024. All Rights Reserved.
              </div>
            </div>
          </div>
        </div>
        <div class="logo-quote-content-parent">
          <div class="logo-quote-content">
            <h3 class="h3">“</h3>
          </div>
          <div class="logo-slogan-container">
            <div class="logo-slogan-content">
              <img
                class="new-logo-23"
                loading="lazy"
                alt=""
                src="./images/new-logo-2-1@2x.png"
              />
            </div>
            <div class="slogan-container">
              <div class="closing-quote-container">
                <h3 class="h31">”</h3>
              </div>
              <div class="delight-your-taste2">
                Delight your taste with diverse taste
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var group = document.getElementById("group");
      if (group) {
        group.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText1 = document.getElementById("menuText1");
      if (menuText1) {
        menuText1.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
        document.querySelector('.restaurant-image').addEventListener('click', function() {
        window.location.href = '/mountaincafe'; // Replace with the actual path to the next HTML page
      });
        document.querySelector('.instance-child11').addEventListener('click', function() {
        window.location.href = '/villagerestaurant'; // Replace with the actual path to the next HTML page
      });
      document.querySelector('.instance-child9').addEventListener('click', function() {
        window.location.href = '/emadatsi'; // Replace with the actual path to the next HTML page
      });
      document.querySelector('.potato-button-rect').addEventListener('click', function() {
        window.location.href = '/potato'; // Replace with the actual path to the next HTML page
      });
      document.querySelector('.instance-child10').addEventListener('click', function() {
        window.location.href = '/asparagus'; // Replace with the actual path to the next HTML page
      });
      document.querySelector('.spinach-button-rect').addEventListener('click', function() {
        window.location.href = '/spinach'; // Replace with the actual path to the next HTML page
      });
      var feedbackText1 = document.getElementById("feedbackText1");
      if (feedbackText1) {
        feedbackText1.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var homeText2 = document.getElementById("homeText2");
      if (homeText2) {
        homeText2.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          // Please sync "Our menu" to the project
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText3 = document.getElementById("menuText3");
      if (menuText3) {
        menuText3.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText2 = document.getElementById("aboutUsText2");
      if (aboutUsText2) {
        aboutUsText2.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText2 = document.getElementById("feedbackText2");
      if (feedbackText2) {
        feedbackText2.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var cartText = document.getElementById("cartText");
      if (cartText) {
        cartText.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      document.getElementById("profile-image").addEventListener("click", function() {
  window.location.href = "/profile";
});

      </script>
      <script src="./js/heartsign.js"></script>
  </body>
</html>
