<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/village-restaurant.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Tai Le:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan Script:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans New Tai Lue:wght@500&display=swap"
    />
    <link rel="stylesheet" href="./css/profilepic.css">
    <script src="./js/profile.js"></script>
  </head>
  <body>
    <div class="village-restaurant2">
      

      <div class="village-restaurant-item"></div>
      <header class="feedback-parent">
        <div class="new-logo-1-wrapper">
          <img
            class="new-logo-14"
            loading="lazy"
            alt=""
            src="./images/new-logo-2@2x.png"
          />
        </div>
        <div class="instance-wrapper16">
          <div class="frame-parent67">
            <img class="instance-child12" alt="" src="./images/group-136.svg" />

            <div class="search3">Search</div>
          </div>
        </div>
        <nav class="frame-wrapper36">
          <nav class="home-parent2">
            <div class="home8" id="homeText1">Home</div>
            <div class="menu11" id="menuText1">Menu</div>
            <div class="about-us8" id="aboutUsText">About us</div>
          </nav>
        </nav>
        <div class="frame-wrapper37">
          <div class="frame-parent68">
            <div class="feedback-wrapper">
              <div class="feedback8" id="feedbackText">Feedback</div>
            </div>
            <div class="frame-wrapper38">
              <img
                class="frame-child84"
                loading="lazy"
                alt=""
                src="./images/group-134.svg"
              />
            </div>
            <img
              class="frame-child85"
              loading="lazy"
              id="profile-image"
              alt=""
              src="./images/images.png"
            />
          </div>
        </div>
      </header>
      <section class="frame-parent69">
        <div class="image-1-parent4">

          <div class="wrapper-group-4-parent">
            <div class="wrapper-group-4">
              <img
                class="wrapper-group-4-child"
                loading="lazy"
                alt=""
                src="./images/group-4.svg"
              />
            </div>
            <div class="village-restaurant-container">
              <p class="village-restaurant3">
                <b>
                  <span>
                    <span class="village">Village </span>
                    <span>restaurant</span>
                  </span>
                </b>
              </p>
              <p class="blank-line6">
                <b>
                  <span>
                    <span>&nbsp;</span>
                  </span>
                </b>
              </p>
              <p class="blank-line7">
                <b>
                  <span>
                    <span>&nbsp;</span>
                  </span>
                </b>
              </p>
              <p class="together-with-village">
                - Together with Village Restaurant, we’re bringing the warmth
                and flavor of your neighborhood straight to your door
              </p>
            </div>
          </div>
        </div>
        <div class="rectangle-parent36">
          <div class="frame-child86"></div>
          <img
            class="frame-child87"
            alt=""
            src="./images/rectangle-187@2x.png"
          />

        
        </div>
      </section>
      <section class="village-restaurant-inner">
        <div class="frame-parent70">
          <div class="browse-their-delicious-menu-an-wrapper">
            <div class="browse-their-delicious-container">
              <p class="browse-their-delicious-menu-an">
                <span class="browse-their">
                  <span class="browse-their1">Browse their</span>
                </span>
                <span class="delicious-menu">
                  <span class="d"> D</span>
                  <span class="elicious-menu">elicious Menu</span>
                </span>
                <span> and </span>
              </p>
              <p class="order-online-for">order online for a comforting</p>
              <p class="and-convenient-dining">
                and convenient dining experience.
              </p>
            </div>
          </div>
          <div class="wrapper-rectangle-205">
            <img
              class="wrapper-rectangle-205-child"
              loading="lazy"
              alt=""
              src="./images/rectangle-205@2x.png"
            />
          </div>
        </div>
      </section>
      <section class="village-restaurant-inner1">
        <div class="frame-parent71">
          <div class="frame-wrapper39">
            <div class="village-restaurants-famous-ho-parent">
              <div class="village-restaurants-famous-container">
                <p class="village-restaurants-famous">
                  Village Restaurant's famous home-cooked recipes are now
                  available for online ordering!
                </p>
              </div>
              <div class="vector-wrapper">
                <img
                  class="frame-child88"
                  loading="lazy"
                  alt=""
                  src="./images/vector-6.svg"
                />
              </div>
            </div>
          </div>
          <div class="frame-parent72">
            <div class="rectangle-parent40">
              <div class="frame-child92"></div>
              <img
                class="frame-child93"
                loading="lazy"
                alt=""
                src="./images/rectangle-93@2x.png"
              />

              <div class="frame-parent75">
                <div class="instance-wrapper18">
                  <img
                    class="frame-child94 svg-toggle"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="hoentay-wrapper">
                  <div class="hoentay">Sausage</div>
                </div>
                <div class="rectangle-parent41">
                  <div class="instance-child14"></div>
                  <div class="order22">Order</div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper41">
              <div class="rectangle-parent40">
                <div class="frame-child92"></div>
                <img
                  class="frame-child93"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-1001@2x.png"
                />

                <div class="frame-parent75">
                  <div class="instance-wrapper18">
                    <img
                      class="frame-child94 svg-toggle"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="hoentay-wrapper">
                    <div class="hoentay">Hoentay</div>
                  </div>
                  <div class="rectangle-parent41">
                    <div class="instance-child14"></div>
                    <div class="order22">Order</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent42">
              <div class="frame-child95"></div>
              <img
                class="frame-child96"
                loading="lazy"
                alt=""
                src="./images/rectangle-1261@2x.png"
              />

              <div class="frame-parent76">
                <div class="instance-wrapper19">
                  <img
                    class="frame-child97 svg-toggle"
                    alt=""
                    src="./images/vector-15.svg"
                  />
                </div>
                <div class="putah-wrapper">
                  <div class="putah">Putah</div>
                </div>
                <div class="rectangle-parent43">
                  <div class="instance-child15"></div>
                  <div class="order23">Order</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent77">
            <div class="rectangle-parent47">
              <div class="frame-child101"></div>
              <img
                class="frame-child102"
                loading="lazy"
                alt=""
                src="./images/rectangle-130@2x.png"
              />

              <div class="frame-wrapper43">
                <div class="frame-parent80">
                  <div class="instance-wrapper21">
                    <img
                      class="frame-child103 svg-toggle"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="fried-cheese-container">
                    <div class="fried-cheese1">Fried egg</div>
                  </div>
                  <div class="rectangle-parent48">
                    <div class="instance-child17"></div>
                    <div class="order25">Order</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper42">
              <div class="rectangle-parent47">
                <div class="frame-child101"></div>
                <img
                  class="frame-child102"
                  loading="lazy"
                  alt=""
                  src="./images/rectangle-198@2x.png"
                />

                <div class="frame-wrapper43">
                  <div class="frame-parent80">
                    <div class="instance-wrapper21">
                      <img
                        class="frame-child103 svg-toggle"
                        alt=""
                        src="./images/vector-15.svg"
                      />
                    </div>
                    <div class="fried-cheese-container">
                      <div class="fried-cheese1">Fried cheese</div>
                    </div>
                    <div class="rectangle-parent48">
                      <div class="instance-child17"></div>
                      <div class="order25">Order</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent49">
              <div class="frame-child104"></div>
              <img
                class="frame-child105"
                loading="lazy"
                alt=""
                src="./images/rectangle-100@2x.png"
              />

              <div class="frame-wrapper44">
                <div class="frame-parent81">
                  <div class="instance-wrapper22">
                    <img
                      class="frame-child106 svg-toggle"
                      alt=""
                      src="./images/vector-15.svg"
                    />
                  </div>
                  <div class="potato-frame">
                    <div class="potato4">Potato</div>
                  </div>
                  <div class="rectangle-parent50">
                    <div class="instance-child18"></div>
                    <div class="order26">Order</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
        </div>
      </section>
      <footer class="footer3">
        <div class="footer-child1"></div>
        <div class="frame-parent92">
          <div class="opening-hours-parent1">
            <div class="opening-hours3">Opening Hours</div>
            <div class="monday-thursday-container3">
              <p class="monday-thursday3">Monday - Thursday</p>
              <p class="am-4003">9:00 Am - 4:00 Pm</p>
            </div>
          </div>
          <div class="friday-sunday-container3">
            <p class="friday-sunday3">Friday - Sunday</p>
            <p class="am-5003">11:00 Am - 5:00 Pm</p>
          </div>
        </div>
        <div class="frame-parent93">
          <div class="frame-parent94">
            <div class="frame-wrapper53">
              <div class="frame-parent95">
                <div class="frame-wrapper54">
                  <div class="contact-us-group">
                    <div class="contact-us3">Contact us</div>
                    <div class="menu12">Menu</div>
                  </div>
                </div>
                <div class="frame-parent96">
                  <div class="frame-wrapper55">
                    <div class="image-removebg-preview-7-2-container">
                      <img
                        class="image-removebg-preview-7-23"
                        loading="lazy"
                        alt=""
                        src="./images/imageremovebgpreview-7-2@2x.png"
                      />

                      <div class="wrapper4">
                        <div class="div5">17656789</div>
                      </div>
                      <div class="home-frame">
                        <div class="home9">Home</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-parent97">
                    <div class="frame-wrapper56">
                      <div class="frame-parent98">
                        <div class="image-removebg-preview-8-2-container">
                          <img
                            class="image-removebg-preview-8-23"
                            loading="lazy"
                            alt=""
                            src="./images/imageremovebgpreview-8-2@2x.png"
                          />

                          <div class="zheygogmailcom-wrapper1">
                            <div class="zheygogmailcom3">zheygo@gmail.com</div>
                          </div>
                        </div>
                        <div class="frame-wrapper57">
                          <div class="image-removebg-preview-5-1-container">
                            <img
                              class="image-removebg-preview-5-13"
                              loading="lazy"
                              alt=""
                              src="./images/imageremovebgpreview-5-1@2x.png"
                            />

                            <div class="kabesa-thimphu3">Kabesa, Thimphu</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent99">
                      <div class="frame-wrapper58">
                        <div class="menu-container">
                          <div class="menu13" id="menuText3">Menu</div>
                          <div class="about-us9" id="aboutUsText2">
                            About us
                          </div>
                        </div>
                      </div>
                      <div class="feedback9" id="feedbackText2">Feedback</div>
                      <div class="cart4" id="cartText">Cart</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent100">
              <div class="c-container">
                <div class="c3">c</div>
                <div class="frame-child131"></div>
              </div>
              <div class="zheygo-2024-all-rights-reserv-wrapper1">
                <div class="zheygo-2024-all3">
                  Zheygo 2024. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent101">
            <div class="wrapper5">
              <h3 class="h32">“</h3>
            </div>
            <div class="frame-parent102">
              <div class="new-logo-2-frame">
                <img
                  class="new-logo-24"
                  loading="lazy"
                  alt=""
                  src="./images/new-logo-2-1@2x.png"
                />
              </div>
              <div class="frame-parent103">
                <div class="wrapper6">
                  <h3 class="h33">”</h3>
                </div>
                <div class="delight-your-taste3">
                  Delight your taste with diverse taste
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var feedbackText1 = document.getElementById("feedbackText1");
      if (feedbackText1) {
        feedbackText1.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var homeText2 = document.getElementById("homeText2");
      if (homeText2) {
        homeText2.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText2 = document.getElementById("menuText2");
      if (menuText2) {
        menuText2.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText1 = document.getElementById("menuText1");
      if (menuText1) {
        menuText1.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText = document.getElementById("feedbackText");
      if (feedbackText) {
        feedbackText.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var menuText3 = document.getElementById("menuText3");
      if (menuText3) {
        menuText3.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText2 = document.getElementById("aboutUsText2");
      if (aboutUsText2) {
        aboutUsText2.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      document.getElementById("profile-image").addEventListener("click", function() {
  window.location.href = "/profile";
});

      
      var cartText = document.getElementById("cartText");
      if (cartText) {
        cartText.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      </script>
      <script src="./js/heartsign.js"></script>
  </body>
</html>
