<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/zhay-go-home-page.css" />
   
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <script src="./js/profile.js"></script>
    <link rel="stylesheet" href="./css/profilepic.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Tai Le:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan Script:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans New Tai Lue:wght@500&display=swap"
    />
    <link rel="stylesheet" href="css/dropdown.css">
  </head>
  <style>
   
  </style>
  <body>
    <div class="zhaygo-home-page">
      <main class="lead-developer-container">
        <h3 class="lead-developer1">Lead developer</h3>
      </main>
      <div class="frame-parent28">
        <header class="frame-header">
          <div class="instance-frame">
            <div class="frame-parent29">
              <img
                class="instance-child6"
                alt=""
                src="./images/group-136.svg"
              />

              <div class="search1">Search</div>
              <!-- <input type="text" class="search1" placeholder="Search"> -->
            </div>
          </div>
          <div class="rectangle-parent6">
            <div class="frame-child13"></div>
            <img
              class="new-logo-12"
              loading="lazy"
              alt=""
              src="./images/new-logo-2@2x.png"
            />

            <img
              class="frame-child14"
              loading="lazy"
              alt=""
              src="./images/group-134.svg"
              id="group"
            />
          </div>
          <nav class="frame-nav">
            <nav class="home-group">
              <h3 class="home2" id="homeText1">Home</h3>
              <h3 class="menu3" id="menuText1">Menu</h3>
              <div class="about-us-container">
                <h3 class="about-us2" id="aboutUsText">About us</h3>
              </div>
              <h3 class="feedback2" id="feedbackText">Feedback</h3>
            </nav>
          </nav>
          <img
            class="frame-child15"
            loading="lazy"
            id="profile-image"
            alt=""
            src="./images/images.png"
          />
          <div id="dropdown-menu" class="dropdown-menu">
            <a href="/profile">Profile</a>
            <a href="/payment">Payment History</a>
            <a href="/logout" id="logout">Logout</a>
        </div>
        </header>
        <div class="component-3-parent">
          <div class="component-3">
            <div class="frame-parent30">
              <div class="frame-parent31">
                <div class="d4f317-b04f-4d69-bc60-542167ce-parent">
                  <img
                    class="d4f317-b04f-4d69-bc60-542167ce-icon"
                    alt=""
                    src="./images/12d4f317b04f4d69bc60542167ce8b71-1@2x.png"
                  />

                  <img
                    class="photo1714725283-1-2"
                    loading="lazy"
                    alt=""
                    src="./images/photo1714725283-1-2@2x.png"
                  />
                </div>
                <div class="image-1-container">
                  <img
                    class="image-1-icon"
                    alt=""
                    src="./images/image-1@2x.png"
                  />

                  <div class="frame-parent32">
                    <div class="zheygo-parent">
                      <h1 class="zheygo">
                        <span>Zhey</span>
                        <span class="go">Go</span>
                      </h1>
                      <div class="craving-delicious-food-explor-wrapper">
                        <h3 class="craving-delicious-food-container">
                          <p class="craving-delicious-food">
                            Craving delicious food? Explore a wide variety of
                          </p>
                          <p class="restaurants-and-cuisines">
                            restaurants and cuisines, all in one place.
                          </p>
                        </h3>
                      </div>
                    </div>
                    <div class="rectangle-parent7">
                      <div class="frame-child16"></div>
                      <h3 class="know-more">Know more</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper20">
                <div class="frame-wrapper21">
                  <div class="d4f317-b04f-4d69-bc60-542167ce-group">
                    <img
                      class="d4f317-b04f-4d69-bc60-542167ce-icon1"
                      alt=""
                      src="./images/12d4f317b04f4d69bc60542167ce8b71-1@2x.png"
                    />

                    <div class="image-1-parent1">
                      <img
                        class="image-1-icon1"
                        alt=""
                        src="./images/image-1-1@2x.png"
                      />

                      <div class="we-partner-with-banks-to-offer-wrapper">
                        <div class="we-partner-with-container">
                          <span>We </span>
                          <span class="partner">PARTNER</span>
                          <span>
                            with Banks to offer co-branding benefits to both
                            ZhayGo users and bank customers, streamlining the
                            online food ordering experience.</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper22">
                      <div class="frame-wrapper23">
                        <div class="frame-wrapper24">
                          <div class="photo1714764350-2-parent">
                            <img
                              class="photo1714764350-2-icon"
                              alt=""
                              src="./images/photo1714764350-2@2x.png"
                            />

                            <img
                              class="image-39-icon"
                              loading="lazy"
                              alt=""
                              src="./images/image-39@2x.png"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent33">
                      <div class="frame-wrapper25">
                        <img
                          class="frame-child17"
                          loading="lazy"
                          alt=""
                          src="./images/group-133605@2x.png"
                        />
                      </div>
                      <img
                        class="frame-child18"
                        alt=""
                        src="./images/group-133607@2x.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper26">
                <div class="frame-parent34">
                  <div class="d4f317-b04f-4d69-bc60-542167ce-container">
                    <img
                      class="d4f317-b04f-4d69-bc60-542167ce-icon2"
                      alt=""
                      src="./images/12d4f317b04f4d69bc60542167ce8b71-1@2x.png"
                    />

                    <div class="image-1-parent2">
                      <img
                        class="image-1-icon2"
                        alt=""
                        src="./images/image-1-1@2x.png"
                      />

                      <div class="special-offers-parent">
                        <h1 class="special-offers">
                          <span>Special</span>
                          <span class="span"> </span>
                          <span class="offers">Offers</span>
                        </h1>
                        <img
                          class="image-40-icon"
                          alt=""
                          src="./images/image-40@2x.png"
                        />
                      </div>
                    </div>
                    <img
                      class="image-41-icon"
                      loading="lazy"
                      alt=""
                      src="./images/image-41@2x.png"
                    />
                  </div>
                  <div class="get-50-off-your-next-order-wrapper">
                    <h1 class="get-50-off">Get 50% Off Your Next Order!</h1>
                  </div>
                  <h1 class="order-now">Order now!</h1>
                </div>
              </div>
              <div class="frame-parent35">
                <div class="d4f317-b04f-4d69-bc60-542167ce-parent1">
                  <img
                    class="d4f317-b04f-4d69-bc60-542167ce-icon3"
                    alt=""
                    src="./images/12d4f317b04f4d69bc60542167ce8b71-1@2x.png"
                  />

                  <div class="frame-parent36">
                    <div class="image-1-parent3">
                      <img
                        class="image-1-icon3"
                        alt=""
                        src="./images/image-1-1@2x.png"
                      />

                      <div class="frame-child19"></div>
                      <div class="frame-child20"></div>
                    </div>
                    <div class="frame-child21"></div>
                    <div class="frame-child22"></div>
                    <div class="we-partner-with-village-restau-wrapper">
                      <h1 class="we-partner-with-container1">
                        <span>We partner with </span>
                        <span class="village-restaurant">
                          <span>Village Restaurant</span>
                          <span> </span>
                        </span>
                        <span>
                          <span>and</span>
                        </span>
                        <span class="mountain-cafe">
                          <span> </span>
                          <span>Mountain cafe.</span>
                        </span>
                      </h1>
                    </div>
                  </div>
                  <div class="wrapper-rectangle-188">
                    <img
                      class="wrapper-rectangle-188-child"
                      loading="lazy"
                      alt=""
                      src="./images/rectangle-188@2x.png"
                    />
                  </div>
                </div>
                <div class="image-42"></div>
                <img
                  class="frame-child23"
                  alt=""
                  src="./images/rectangle-187@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="vector-parent">
            <img
              class="arrow-icon"
              loading="lazy"
              alt=""
              src="./images/arrow-2.svg"
            />

            <img class="frame-child24" alt="" src="./images/arrow-3.svg" />
          </div>
        </div>
      </div>
      <div class="special-meals-wrapper">
        <h1 class="special-meals">Special Meals</h1>
      </div>
      <div class="zhaygo-home-page-inner">
        <div class="meals-header-parent">
          <div class="shakam-content-wrapper">
            <div class="shakam-content">
              <div class="wrapper-9a1176e0-f652-47e2-895">
                <img
                  class="a1176e0-f652-47e2-8953-58606ff-icon"
                  loading="lazy"
                  alt=""
                  src="./images/3db72008bc9840ceb50c567dce55c263-1@2x.png"
                />
              </div>
              <button class="rectangle-parent9">
                <div class="frame-child26"></div>
                <div class="shakam-datshi">Chicken Curry</div>
              </button>
            </div>
          </div>
          <div class="shakam-content-wrapper">
            <div class="shakam-content">
              <div class="wrapper-9a1176e0-f652-47e2-895">
                <img
                  class="a1176e0-f652-47e2-8953-58606ff-icon"
                  loading="lazy"
                  alt=""
                  src="./images/9a1176e0f65247e2895358606ffe25a9-1@2x.png"
                />
              </div>
              <button class="rectangle-parent9">
                <div class="frame-child26"></div>
                <div class="shakam-datshi">Shakam datshi</div>
              </button>
            </div>
          </div>
          <div class="shakam-content-wrapper">
            <div class="shakam-content">
              <div class="wrapper-9a1176e0-f652-47e2-895">
                <img
                  class="a1176e0-f652-47e2-8953-58606ff-icon"
                  loading="lazy"
                  alt=""
                  src="./images/fdf591f15755451c9ed67c326efa2c95-1@2x.png"
                />
              </div>
              <button class="rectangle-parent9">
                <div class="frame-child26"></div>
                <div class="shakam-datshi">Kewa datshi</div>
              </button>
            </div>
          </div>
          <div class="shakam-content-wrapper">
            <div class="shakam-content">
              <div class="wrapper-9a1176e0-f652-47e2-895">
                <img
                  class="a1176e0-f652-47e2-8953-58606ff-icon"
                  loading="lazy"
                  alt=""
                  src="./images/9a1176e0f65247e2895358606ffe25a9-1@2x.png"
                />
              </div>
              <button class="rectangle-parent9">
                <div class="frame-child26"></div>
                <div class="shakam-datshi">Ema datshi</div>
              </button>
            </div>
          </div>
          <div class="shakam-content-wrapper">
            <div class="shakam-content">
              <div class="wrapper-9a1176e0-f652-47e2-895">
                <img
                  class="a1176e0-f652-47e2-8953-58606ff-icon"
                  loading="lazy"
                  alt=""
                  src="./images/32ca97c3acf04764a316b41f14369fbf-1@2x.png"
                />
              </div>
              <button class="rectangle-parent9">
                <div class="frame-child26"></div>
                <div class="shakam-datshi">Shakam Pa</div>
              </button>
            </div>
          </div>
        
         
          <img
            class="photo-6170303567265643828-x-1-icon"
            loading="lazy"
            alt=""
            src="./images/photo-6170303567265643828-x-1@2x.png"
          />
        </div>
      </div>
      <div class="zhaygo-home-page-child">
        <div class="rectangle-parent12" >
            <video controls autoplay loop style="width: 1200px;">
                <source src="./video/Hello!.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
      <div class="zhaygo-home-page-inner1">
        <div class="rectangle-parent13" id="groupContainer">
          <div class="frame-child32"></div>
          <div class="rectangle-parent14">
            <div class="frame-child33"></div>
            <div class="use-this-coupon-anyday-wrapper">
              <h1 class="use-this-coupon-container">
                <span>Use </span>
                <span class="this-coupon-any">this Coupon Any</span>
                <span>day</span>
              </h1>
            </div>
            <div class="div2">50%</div>
          </div>
        </div>
      </div>
      <div class="ada-e778-4d4a-9991-e2612d8db3f-wrapper">
        <img
          class="ada-e778-4d4a-9991-e2612d8db3f-icon"
          loading="lazy"
          alt=""
          src="./images/89828adae7784d4a9991e2612d8db3f6-1@2x.png"
        />
      </div>
      <footer class="footer1">
        <div class="footer-item" data-scroll-to="rectangle"></div>
        <div class="frame-parent37">
          <div class="opening-hours-group">
            <div class="opening-hours1">Opening Hours</div>
            <div class="monday-thursday-container1">
              <p class="monday-thursday1">Monday - Thursday</p>
              <p class="am-4001">9:00 Am - 4:00 Pm</p>
            </div>
          </div>
          <div class="friday-sunday-container1">
            <p class="friday-sunday1">Friday - Sunday</p>
            <p class="am-5001">11:00 Am - 5:00 Pm</p>
          </div>
        </div>
        <div class="frame-parent38">
          <div class="frame-parent39">
            <div class="frame-wrapper28">
              <div class="frame-parent40">
                <div class="menu-contact-wrapper">
                  <div class="menu-contact">
                    <div class="contact-us1">Contact us</div>
                    <div class="menu4">Menu</div>
                  </div>
                </div>
                <div class="frame-parent41">
                  <div class="frame-wrapper29">
                    <div class="image-removebg-preview-7-2-group">
                      <img
                        class="image-removebg-preview-7-21"
                        loading="lazy"
                        alt=""
                        src="./images/imageremovebgpreview-7-2@2x.png"
                      />

                      <div class="wrapper1">
                        <div class="div3">17656789</div>
                      </div>
                      <div class="home-container">
                        <div class="home3" id="homeText">Home</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-parent42">
                    <div class="frame-wrapper30">
                      <div class="frame-parent43">
                        <div class="image-removebg-preview-8-2-group">
                          <img
                            class="image-removebg-preview-8-21"
                            loading="lazy"
                            alt=""
                            src="./images/imageremovebgpreview-8-2@2x.png"
                          />

                          <div class="zheygogmailcom-container">
                            <div class="zheygogmailcom1">zheygo@gmail.com</div>
                          </div>
                        </div>
                        <div class="frame-wrapper31">
                          <div class="image-removebg-preview-5-1-group">
                            <img
                              class="image-removebg-preview-5-11"
                              loading="lazy"
                              alt=""
                              src="./images/imageremovebgpreview-5-1@2x.png"
                            />

                            <div class="kabesa-thimphu1">Kabesa, Thimphu</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent44">
                      <div class="frame-wrapper32">
                        <div class="menu-group">
                          <div class="menu5" id="menuText2">Menu</div>
                          <div class="about-us3" id="aboutUsText1">
                            About us
                          </div>
                        </div>
                      </div>
                      <div class="feedback3" id="feedbackText1">Feedback</div>
                      <div class="cart2" id="cartText">Cart</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent45">
              <div class="c-group">
                <div class="c1">c</div>
                <div class="frame-child34"></div>
              </div>
              <div class="zheygo-2024-all-rights-reserv-container">
                <div class="zheygo-2024-all1">
                  Zheygo 2024. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent46">
            <div class="wrapper2">
              <h2 class="h22">“</h2>
            </div>
            <div class="frame-parent47">
              <div class="new-logo-2-container">
                <img
                  class="new-logo-22"
                  loading="lazy"
                  alt=""
                  src="./images/new-logo-2-1@2x.png"
                />
              </div>
              <div class="frame-parent48">
                <div class="wrapper3">
                  <h2 class="h23">”</h2>
                </div>
                <div class="delight-your-taste1">
                  Delight your taste with diverse taste
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var group = document.getElementById("group");
      if (group) {
        group.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var menuText1 = document.getElementById("menuText1");
      if (menuText1) {
        menuText1.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }

//       document.getElementById("profile-image").addEventListener("click", function() {
//   window.location.href = "/profile";
// });



      
      
      var feedbackText = document.getElementById("feedbackText");
      if (feedbackText) {
        feedbackText.addEventListener("click", function (e) {
          window.location.href = '/feedback'
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "coupon page" to the project
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var menuText2 = document.getElementById("menuText2");
      if (menuText2) {
        menuText2.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      
      var feedbackText1 = document.getElementById("feedbackText1");
      if (feedbackText1) {
        feedbackText1.addEventListener("click", function (e) {
          window.location.href = '/feedback'
        });
      }
      
      var cartText = document.getElementById("cartText");
      if (cartText) {
        cartText.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }

      </script>
<script src="js/dropdown.js"></script>
  </body>
</html>
