<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/zhay-go-about-us-page.css" />
    <link rel="stylesheet" href="./css/our-menu.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans Tai Le:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaushan Script:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Sans New Tai Lue:wght@500&display=swap"
    />
    <link rel="stylesheet" href="./css/profilepic.css">
    <script src="./js/profile.js"></script>
  </head>
  <style>
    .menu6 {
    text-decoration: none;
    min-width: 64px;
}
.about-us4{
  text-decoration: underline;
}

  </style>
  <body>
    <div class="zhaygo-about-us-page">
      <div class="d4f317-b04f-4d69-bc60-542167ce-parent2">
        <img
          class="d4f317-b04f-4d69-bc60-542167ce-icon5"
          alt=""
          src="./images/12d4f317b04f4d69bc60542167ce8b71-1@2x.png"
        />

        <img class="image-1-icon6" alt="" src="./images/image-1@2x.png" />

        <img
          class="frame-child182"
          loading="lazy"
          alt=""
          src="./images/vector-12@2x.png"
        />
      </div>
      <header class="frame-parent49">
        <div class="instance-wrapper1">
          <div class="frame-parent50">
            <img class="instance-child7" alt="" src="./images/group-136.svg" />

            <div class="search2">Search</div>
          </div>
        </div>
        <div class="rectangle-parent15">
          <div class="frame-child35"></div>
          <img
            class="new-logo-13"
            loading="lazy"
            alt=""
            src="./images/new-logo-2@2x.png"
          />

          <img
            class="frame-child36"
            loading="lazy"
            alt=""
            src="./images/group-134.svg"
            id="group"
          />
        </div>
        <nav class="frame-wrapper33">
          <nav class="home-parent1">
            <div class="home4" id="homeText1">Home</div>
            <div class="menu6" id="menuText1">Menu</div>
            <div class="about-us-frame">
              <div class="about-us4" id="aboutUsText">About us</div>
            </div>
            <div class="feedback4" id="feedbackText">Feedback</div>
          </nav>
        </nav>
        <img
          class="frame-child37"
          loading="lazy"
          id="profile-image"
          alt=""
          src="./images/images.png"
        />
      </header>
      <div class="about-us-wrapper2">
        <h1 class="about-us13">
          <p class="about-us14">
            <span>About </span>
            <span class="us">Us</span>
          </p>
          <p class="blank-line10">&nbsp;</p>
        </h1>
      </div>
      <div class="we-are-zheygo-squad-a-passio-wrapper">
        <div class="we-are-zheygo">
          We are ZheyGo squad , a passionate crew obsessed with connecting
          people with incredible food. Our mission is to make deliciousness
          effortless, delivering restaurant quality straight to your doorstep.
        </div>
      </div>
      <div class="zhaygo-about-us-page-inner">
        <div class="frame-parent135">
          <div class="at-zhaygo-we-believe-that-din-wrapper">
            <div class="at-zhaygo-we">
              At Zhaygo, we believe that dining is not just about food; it's
              about creating unforgettable experiences that bring people
              together. Nestled in the heart of Thimphu, our restaurant is more
              than just a place to eat – it's a culinary journey infused with
              passion, creativity, and a commitment to excellence.
            </div>
          </div>
          <div class="welcome-to-zheygo-parent">
            <h1 class="welcome-to-zheygo">
              <p class="welcome">Welcome</p>
              <p class="to">To</p>
              <p class="zheygo1">Zheygo</p>
            </h1>
            <img
              class="frame-child186"
              loading="lazy"
              alt=""
              src="./images/vector-11.svg"
            />
          </div>
        </div>
      </div>
      <div class="zhaygo-about-us-page-child">
        <div class="frame-parent136">
          <div class="frame-wrapper73">
            <div class="our-story-parent">
              <h1 class="our-story">
                <p class="our1">Our</p>
                <p class="story">Story</p>
              </h1>
              <img
                class="frame-child187"
                loading="lazy"
                alt=""
                src="./images/vector-10.svg"
              />
            </div>
          </div>
          <div class="founded-in-2024">
            Founded in 2024, Zhaygo began as a dream shared by Yeshi and Sonam,
            two food enthusiasts with a vision to redefine the dining scene in
            Thimphu. What started as a humble eatery has since evolved into a
            beloved culinary destination, known for its exceptional cuisine,
            warm hospitality, and inviting ambiance.
          </div>
        </div>
      </div>
      <div class="zhaygo-about-us-page-inner1">
        <div class="frame-parent137">
          <div class="whether-youre-celebrating-a-s-wrapper">
            <div class="whether-youre-celebrating">
              Whether you're celebrating a special occasion, catching up with
              friends, or simply craving a delicious meal, we invite you to join
              us at Zhaygo. Come savor the flavors, soak in the atmosphere, and
              experience hospitality at its finest. We can't wait to welcome you
              into our family.
            </div>
          </div>
          <div class="vector-frame">
            <img
              class="frame-child188"
              loading="lazy"
              alt=""
              src="./images/vector-9.svg"
            />
          </div>
          <div class="join-us-wrapper">
            <h1 class="join-us">
              <p class="join">Join</p>
              <p class="us1">Us</p>
            </h1>
          </div>
        </div>
      </div>
      <div class="zhaygo-about-us-page-inner2">
        <img
          class="frame-child189"
          loading="lazy"
          alt=""
          src="./images/vector-8.svg"
        />
      </div>
      <div class="meet-our-team-wrapper">
        <h1 class="meet-our-team">Meet our Team</h1>
      </div>
      <div class="zhaygo-about-us-page-inner3">
        <div class="frame-parent138">
          <div class="frame-wrapper74">
            <div class="frame-parent139">
              <div class="d70260-ecd4-4a3b-9e96-983d477f-wrapper">
                <img
                  class="d70260-ecd4-4a3b-9e96-983d477f-icon"
                  loading="lazy"
                  alt=""
                  src="./images/66d70260ecd44a3b9e96983d477f7a93-1@2x.png"
                />
              </div>
              <div class="rigzin-parent">
                <b class="rigzin">
                  <p class="rigzin1">Rigzin</p>
                </b>
                <div class="founderceo-wrapper">
                  <div class="founderceo">Founder/CEO</div>
                </div>
              </div>
            </div>
          </div>
          <div class="a94-16d9-4bdf-a9f3-f9bd046a638-parent">
            <img
              class="a94-16d9-4bdf-a9f3-f9bd046a638-icon"
              loading="lazy"
              alt=""
              src="./images/70869a9416d94bdfa9f3f9bd046a6389-1-105-c@2x.png"
            />

            <div class="frame-wrapper75">
              <div class="frame-parent140">
                <div class="kinley-wrapper">
                  <b class="kinley">
                    <p class="kinley1">Kinley</p>
                  </b>
                </div>
                <div class="chief-technology-officer-container">
                  <p class="chief-technology">Chief Technology</p>
                  <p class="officer">Officer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper76">
            <div class="aec20ca3-beaa-4b92-8d7d-f26ed6-parent">
              <img
                class="aec20ca3-beaa-4b92-8d7d-f26ed6-icon"
                loading="lazy"
                alt=""
                src="./images/aec20ca3beaa4b928d7df26ed6d552ed-1-105-c-1@2x.png"
              />

              <div class="frame-parent141">
                <div class="tashi-wrapper">
                  <b class="tashi">Tashi</b>
                </div>
                <div class="head-of-operations">Head of Operations</div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper77">
            <div class="ellipse-group">
              <img
                class="ellipse-icon"
                loading="lazy"
                alt=""
                src="./images/ellipse-37@2x.png"
              />

              <div class="frame-wrapper78">
                <div class="frame-parent142">
                  <div class="sonam-wrapper">
                    <b class="sonam">Sonam</b>
                  </div>
                  <div class="marketing-director">Marketing Director</div>
                </div>
              </div>
            </div>
          </div>
          <div class="ellipse-container">
            <img
              class="frame-child190"
              loading="lazy"
              alt=""
              src="./images/ellipse-36@2x.png"
            />

            <div class="frame-wrapper79">
              <div class="frame-parent143">
                <div class="yeshi-wrapper">
                  <b class="yeshi">Yeshi</b>
                </div>
                <div class="head-chefculinary-director-container">
                  <p class="head-chefculinary">Head Chef/Culinary</p>
                  <p class="director">Director</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="zhaygo-about-us-page-inner4">
        <img
          class="frame-child191"
          loading="lazy"
          alt=""
          src="./images/vector-8.svg"
        />
      </div>
      <div class="zhaygos-growth-strategy-part-wrapper">
        <div class="zhaygos-growth-strategy-container">
          <p class="zhaygos-growth-strategy">
            ZhayGo's Growth Strategy: Partnering with Banks and Expanding
          </p>
          <p class="restaurant-network-in">Restaurant Network in Bhutan</p>
        </div>
      </div>
      <div class="zhaygo-about-us-page-inner5">
        <div class="image-36-parent">
          <img
            class="image-36-icon"
            loading="lazy"
            alt=""
            src="./images/image-36@2x.png"
          />

          <div class="image-37-wrapper">
            <img
              class="image-37-icon"
              loading="lazy"
              alt=""
              src="./images/image-37@2x.png"
            />
          </div>
          <div class="photo1714764350-1-wrapper">
            <img
              class="photo1714764350-1-icon"
              loading="lazy"
              alt=""
              src="./images/photo1714764350-1@2x.png"
            />
          </div>
          <div class="image-38-wrapper">
            <img
              class="image-38-icon"
              loading="lazy"
              alt=""
              src="./images/image-38@2x.png"
            />
          </div>
        </div>
      </div>
      <div class="to-enhance-customer-convenienc-wrapper">
        <div class="to-enhance-customer">
          To enhance customer convenience and drive growth, ZhayGo will pursue
          strategic partnerships with Bhutanese banks. These collaborations will
          offer co-branded benefits to both ZhayGo users and bank customers,
          streamlining the online food ordering experience. Additionally, ZhayGo
          will expand its restaurant network to ensure broader menu options and
          wider geographic coverage, enabling users to order any cuisine,
          anytime, anywhere within Bhutan.
        </div>
      </div>
      <footer class="footer5">
        <div class="footer-child3"></div>
        <div class="frame-parent144">
          <div class="opening-hours-parent3">
            <div class="opening-hours5">Opening Hours</div>
            <div class="monday-thursday-container5">
              <p class="monday-thursday5">Monday - Thursday</p>
              <p class="am-4005">9:00 Am - 4:00 Pm</p>
            </div>
          </div>
          <div class="friday-sunday-container5">
            <p class="friday-sunday5">Friday - Sunday</p>
            <p class="am-5005">11:00 Am - 5:00 Pm</p>
          </div>
        </div>
        <div class="frame-parent145">
          <div class="frame-parent146">
            <div class="frame-wrapper80">
              <div class="frame-parent147">
                <div class="frame-wrapper81">
                  <div class="contact-us-container">
                    <div class="contact-us5">Contact us</div>
                    <div class="menu18">Menu</div>
                  </div>
                </div>
                <div class="frame-parent148">
                  <div class="frame-wrapper82">
                    <div class="image-removebg-preview-7-2-parent2">
                      <img
                        class="image-removebg-preview-7-25"
                        loading="lazy"
                        alt=""
                        src="./images/imageremovebgpreview-7-2@2x.png"
                      />

                      <div class="wrapper9">
                        <div class="div7">17656789</div>
                      </div>
                      <div class="home-wrapper1">
                        <div class="home13" id="homeText">Home</div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-parent149">
                    <div class="frame-wrapper83">
                      <div class="frame-parent150">
                        <div class="image-removebg-preview-8-2-parent2">
                          <img
                            class="image-removebg-preview-8-25"
                            loading="lazy"
                            alt=""
                            src="./images/imageremovebgpreview-8-2@2x.png"
                          />

                          <div class="zheygogmailcom-wrapper2">
                            <div class="zheygogmailcom5">zheygo@gmail.com</div>
                          </div>
                        </div>
                        <div class="frame-wrapper84">
                          <div class="image-removebg-preview-5-1-parent2">
                            <img
                              class="image-removebg-preview-5-15"
                              loading="lazy"
                              alt=""
                              src="./images/imageremovebgpreview-5-1@2x.png"
                            />

                            <div class="kabesa-thimphu5">Kabesa, Thimphu</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent151">
                      <div class="frame-wrapper85">
                        <div class="menu-parent2">
                          <div class="menu19" id="menuText2">Menu</div>
                          <div class="about-us15" id="aboutUsText2">
                            About us
                          </div>
                        </div>
                      </div>
                      <div class="feedback13" id="feedbackText1">Feedback</div>
                      <div class="cart6" id="cartText">Cart</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent152">
              <div class="c-parent2">
                <div class="c5">c</div>
                <div class="frame-child192"></div>
              </div>
              <div class="zheygo-2024-all-rights-reserv-wrapper2">
                <div class="zheygo-2024-all5">
                  Zheygo 2024. All Rights Reserved.
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent153">
            <div class="wrapper10">
              <b class="b">“</b>
            </div>
            <div class="frame-parent154">
              <div class="new-logo-2-wrapper2">
                <img
                  class="new-logo-26"
                  loading="lazy"
                  alt=""
                  src="./images/new-logo-2-1@2x.png"
                />
              </div>
              <div class="frame-parent155">
                <div class="wrapper11">
                  <b class="b1">”</b>
                </div>
                <div class="delight-your-taste5">
                  Delight your taste with diverse taste
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var group = document.getElementById("group");
      if (group) {
        group.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText1 = document.getElementById("menuText1");
      if (menuText1) {
        menuText1.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText = document.getElementById("feedbackText");
      if (feedbackText) {
        feedbackText.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var menuText2 = document.getElementById("menuText2");
      if (menuText2) {
        menuText2.addEventListener("click", function (e) {
          window.location.href = "/menu";
        });
      }
      
      var aboutUsText2 = document.getElementById("aboutUsText2");
      if (aboutUsText2) {
        aboutUsText2.addEventListener("click", function (e) {
          window.location.href = "/aboutus";
        });
      }
      
      var feedbackText1 = document.getElementById("feedbackText1");
      if (feedbackText1) {
        feedbackText1.addEventListener("click", function (e) {
          // Please sync "Feedback" to the project
        });
      }
      
      var cartText = document.getElementById("cartText");
      if (cartText) {
        cartText.addEventListener("click", function (e) {
          window.location.href = "/cart";
        });
      }
      document.getElementById("profile-image").addEventListener("click", function() {
  window.location.href = "/profile";
});

      
      </script>
  </body>
</html>
